paper.Rmd
example-1.R
todo.txt
stata-paper.docx
.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
tutorial for sensitivity analysis in STATA (1).docx
.DS_Store
.DS_Store
.DS_Store

notes.md

*.xlsx
table-of-features.xlsx
.DS_Store
.DS_Store
docs
/doc/
/Meta/
